.app {
  display:  flex;
  position: relative;
  height:  100%;
  flex-flow: column;
  justify-content: flex-start;
}

.main {
  position: relative;
  flex: 1;

  .inner {
    display:flex;
    padding: 0;
    flex-flow: row nowrap;
    height: 100%;
  }

  .panel {
    position: relative;
    margin-top: 5px;
    background: #fff;

    &.left {
      float: none;
      flex: 0 0 50%;
      overflow: visible;
      z-index: $z-leaflet;
    }

    &.right {
      float: none;
      flex: auto;
    }
  }
}

.prevent-overflow {
  overflow: hidden !important;
}