.control-points-i {
  overflow: auto;

  .overview {
    background: $clr-grey;
    color: #fff;

    & > div {
      margin: 0 2rem;
      padding: 1rem 0;
    }

    h3 {
      margin: 0 0 0.5rem;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1;

      li {
        display: inline-block;
        height: 8px;
        width: 53px;
        margin-right: 2px;
        background: #fff;

        &.active {
          background: $clr-green;
        }

        &.active.edit {
          background: $clr-yellow;
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}