.export-btn {
  position: absolute;
  bottom: 0;
  right: 1rem;
  width: 10rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  background: transparent;
  color: $clr-grey;
  border: 1px solid $clr-grey;
  border-bottom: 0;
  font-size: 1rem;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: $clr-highlight;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;

    &:hover {
      color: $clr-grey;
    }
  }
}