.export-modal {

  .output {
    padding: 1rem 1.5rem;

    table {
      width: 500px;
    }

    td:first-child {
      white-space: no-wrap;
      vertical-align: top;
    }

    td:last-child {
      width: 100%;
    }

    p {
      display: inline-block;
      margin-right: 1rem;
      font-size: 1.1rem;
      color: $text-light;
      white-space: nowrap;
    }

    textarea {
      width: 100%;
      min-height: 200px;
    }
  }

  .destination-projection {
    width: 100%;
  }
}
