.icon.providers {
  display: inline-block;
  width: 25px;
  height: 26px;
  background: url('../assets/icons/providers.png') 50% 50% no-repeat;
  background-size: 25px 26px;
}

.icon.fit-marker {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('../assets/icons/fit_markers.png') 50% 50% no-repeat;
  background-size: 25px 25px;
}

/* ... */

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .icon.providers {
      background-image: url('../assets/icons/providers@2x.png');
    }

    .icon.fit-marker {
      background-image: url('../assets/icons/fit_markers@2x.png');
    }
}