.imgpanzoom-container {
  position: relative;

}
.imagepanzoom {
  position: relative;
  display: inline-block;
  cursor: move;
  width: 244px;
  height: 160px;
  border: none;
  overflow: hidden;

  .points-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.image-point {
  position: absolute;
  width: 38px;
  height: 38px;
  margin: -19px 0 0 -19px;
  background: url('../assets/icons/gcp-green.png') 50% 50% no-repeat;
  background-size: contain;
  pointer-events: none;
  cursor: default;

  .imagepanzoom & {
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
  }

  &.draggable,
  &.leaflet-marker-draggable {
    cursor: pointer;
    pointer-events: auto;
    background: url('../assets/icons/gcp.png') 50% 50% no-repeat;
  }

  &.draggable:after,
  &.leaflet-marker-draggable:after {
    content: ' ';
    position:absolute;
    width: 58px;
    height: 38px;
    top: 0;
    left: 18px;
    background: url('../assets/icons/gcp-check.png') 50% 50% no-repeat;
    background-size: contain;
  }

  .imagepanzoom &.draggable:after {
    width: 31px;
    height: 20px;
    left: 9px;
  }

}

/* Range slider style */
.rangeslider {
  position: relative;
  display: inline-block;
  margin: 0 0 0 resolve($slider-padding * 1px);
  height: 160px;
  width: resolve($slider-width * 1px);
  background: #ccc;
  border-radius: 18px;
  text-align: center;

  &:after, &:before {
    content: '\2013';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 0.7rem;
  }

  &:before {
    content: '+';
    bottom: auto;
    top: 0;
  }

  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
  }

  .rangeslider__fill {
    display: block;
    bottom: 0;
    width: 100%;
    background: #ccc;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  .rangeslider__handle {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    background: #999;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

    &:active {
      background: #999;
    }
  }
}
