html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table-row {
  display: table-row;
}

.main {
  position: relative;
  flex: 1;

  .inner {
    display:flex;
    flex-flow: row nowrap;
    height: 100%;
  }

  .panel {
    position: relative;
  }

  .panel-images {
    flex: none;
    width: 480px;
    padding: 0 1rem;
  }

  .panel-map {
    flex: auto;
  }
}

.images-container {
  margin-top: 0.5rem;
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}