html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: $clr-grey;
}

button {
  font-family: Helvetica, Arial, sans-serif;
}

.table-row {
  display: table-row;
}


.images-container {
  margin-top: 0.5rem;
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}